#gameboard-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    gap: 16px;
    margin-bottom: 32px;
}

.animal-img {
    transition: all .5s;
}

.animal-img:hover {
    cursor: pointer;
    filter: brightness(70%);
}

